.single-color {
  height: 100%;
  padding-left: 25px;
  padding-top: 25px;
}

.color-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.copy-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

@keyframes myAnim {

  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  10% {
    transform: rotate(1deg);
  }

  20%, 40%, 60% {
    transform: rotate(-3deg);
  }

  30%, 50%, 70% {
    transform: rotate(3deg);
  }

  80% {
    transform: rotate(-1deg);
  }

  90% {
    transform: rotate(1deg);
  }
}

.copy-svg {
  height: 32px;
}

.copy-svg:hover {
  animation: myAnim 0.6s ease 0s 1 normal forwards;
}
