* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f5f9;
  font-family: Montserrat , sans-serif;
}

.menu-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.menu-section_title {
  font-size: 2.2rem;
}

hr {
  border: 2px solid #f59e0b;
  margin: 10px 0;
  margin-bottom: 40px;
  width: 8%;
}

.buttons-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.buttons-list_item {
  margin: auto;
}


.category-btn {
  background-color: #f59e0b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0 20px;
  margin-bottom: 50px;
  padding: 6px 18px;
  text-transform: capitalize;
  transition: 0.5s;
}

.active {
  background-color: #b45309;
}

.category-btn:hover {
  background-color: #b45309;
}

.items-list {
  align-items: flex-start;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  list-style: none;
}

.items-list_item {
  display: flex;
  margin: 10px 30px;
}

.item {
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 462px;
  justify-content: flex-start;
  margin-bottom: 50px;
  min-width: 310px;
  overflow: hidden;
  width: 23vw;
}

.item-img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.item-info-container {
  padding: 20px;
}

.title-price-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.item-title {
  text-transform: capitalize;
}

.item-price {
  background-color: #f59e0b;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 3px 9px;
}

.item-desc {
  color: #64748b;
}

@media ( max-width : 1100px ) and ( min-width : 851px ) {

  .items-list {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    list-style: none;
  }

  .item {
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
    min-width: 310px;
    overflow: hidden;
    width: 30vw;
  }
}

@media ( max-width : 850px ) {

  .buttons-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }

  .buttons-list_item {
    margin: auto;
  }

  .category-btn {
    margin: 0 10px;
    margin-bottom: 20px;
  }

  .items-list {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    list-style: none;
  }

  .item {
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
    min-width: 310px;
    overflow: hidden;
    width: 30vw;
  }
}
